.row {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .grid {
    margin-right: -20px;
    margin-left: -20px;
  }
  .grid .row {
    border-spacing: 20px 0;
  }

  .row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .row .row {
    margin-bottom: 0;
    border-spacing: 0;
  }

  .col {
    display: table-cell;
  }
}